@{
    ViewBag.Title = "Upload de Registros";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


@using (Html.BeginForm("Upload", "Registros", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        
        <div class="form-group">
            @Html.TextBox("arquivoExterno", "", new { type = "file", accept = ".txt", @class = "col-md-2 control-label" })
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-11 col-md-10">
                <input type="submit" value="Upar" class="btn btn-primary" />
            </div>
        </div>

        <div><h2>@ViewBag.Message</h2> </div>
    </fieldset>
}