@{
    Layout = null;
}


<link href="/CSS/css" rel="Stylesheet" type="text/css" />.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ProjetoTCC | </title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.css" rel="stylesheet">
</head>


<body class="login">


    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">

                <section class="login_content">
                    @using (Html.BeginForm("Login", "Conta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <form>
                            <h1>Confirmar E-mail</h1>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div>
                                <h1>
                                    <p>
    Obrigado por confirmar seu email. Por favor @Html.ActionLink("Clique aqui para entrar", "Login", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                    </p>
                                </h1>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Novo no Site ?
                                    <a href="Registrar" class="to_register"> Crie Uma Conta </a>
                                </p>
                                <p class="change_link">
                                    Já Possui uma conta ?
                                    <a href="Login" class="to_register"> Log in </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa fa-bus"></i> Projeto TCC!</h1>
                                    <p>©2016 All Rights Reserved.</p>
                                </div>
                            </div>
                        </form>
                    }
                </section>
            </div>




        </div>
    </div>

</body>

</html>



