@model IEnumerable<web_TCC.Models.Conta>
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LiveBus</title>
        <script type="text/javascript">
            function exibeDataHora(div) {
                //cria um objeto do tipo date
                var data = new Date();

                // obtem o dia, mes e ano
                //dia = data.getDate();
               // mes = data.getMonth() + 1;
               // ano = data.getFullYear();

                //obtem as horas, minutos e segundos
                horas = data.getHours();
                minutos = data.getMinutes();
                segundos = data.getSeconds();

                //converte as horas, minutos e segundos para string
                str_horas = new String(horas);
                str_minutos = new String(minutos);
                str_segundos = new String(segundos);

                //se tiver menos que 2 digitos, acrescenta o 0
                if (str_horas.length < 2)
                    str_horas = 0 + str_horas;
                if (str_minutos.length < 2)
                    str_minutos = 0 + str_minutos;
                if (str_segundos.length < 2)
                    str_segundos = 0 + str_segundos;

                //cria a string que sera exibida na div
                data =str_horas + ':' + str_minutos + ':' + str_segundos;

                //exibe a string na div
                document.getElementById(div).innerHTML = data;

                //executa a funcao com intervalo de 1 segundo
                setTimeout("exibeDataHora('hora')", 1000);
            }
        </script>
    </head>
    <body onload="javascript:exibeDataHora('hora');">
        <!-- page content -->
        <!-- top tiles -->
        <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-calendar"></i> Data</span>
                <div class="count">
                    <script language=javascript type="text/javascript">
                        var mydate = new Date()
                        var year = mydate.getYear()
                        if (year < 2000)
                            year += (year < 1900) ? 1900 : 0
                        var day = mydate.getDay()
                        var month = mydate.getMonth()
                        var daym = mydate.getDate()
                        if (daym < 10)
                            daym = "0" + daym
                        var dayarray = new Array("Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado")
                        var montharray = new Array(" de Janeiro de ", " de Fevereiro de ", " de Março de ", "de Abril de ", "de Maio de ", "de Junho de", "de Julho de ", "de Agosto de ", "de Setembro de ", " de Outubro de ", " de Novembro de ", " de Dezembro de ")

                        document.write(dayarray[day])
                        document.write("</b></i></font>")
                    </script>
                </div>

                <span class="count_bottom">
                    <i class="green">

                        <script language=javascript type="text/javascript">
                            var mydate = new Date()
                            var year = mydate.getYear()
                            if (year < 2000)
                                year += (year < 1900) ? 1900 : 0
                            var day = mydate.getDay()
                            var month = mydate.getMonth()
                            var daym = mydate.getDate()
                            if (daym < 10)
                                daym = "0" + daym
                            var dayarray = new Array("Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado")
                            var montharray = new Array(" de Janeiro de ", " de Fevereiro de ", " de Março de ", "de Abril de ", "de Maio de ", "de Junho de", "de Julho de ", "de Agosto de ", "de Setembro de ", " de Outubro de ", " de Novembro de ", " de Dezembro de ")

                            document.write(daym + " " + montharray[month] + year + " ")
                            document.write("</b></i></font>")
                        </script>
                    </i>
                </span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i> Hora</span>
                <div class="count" id="hora"> </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-users"></i> Usuários do Sistema</span>
                <div class="count">@TempData["Total de Usuários"]</div>
                <!--<span class="count_bottom"><i class="green">Total </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-bus "></i> Total de Linhas</span>
                <div class="count">@TempData["Total de Linhas"]</div>
                <!--<span class="count_bottom"><i class="green"><i class="fa fa-bus"></i>3% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-dot-circle-o"></i> Total de Pontos</span>
                <div class="count green">@TempData["Total de Pontos"]</div>
                <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-file-text-o"></i> Total de Registros</span>
                <div class="count">@TempData["Total de Registros"]</div>
                <!--<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i></span>-->
            </div>
        </div>
        <!-- /top tiles -->
    @*</body>
    <body class="nav-md">*@
        <div class="container body">
            <br />
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard_graph">
                        <div class="row x_title">
                            <div class="col-md-6">
                                <h3>QUEM SOMOS? <small>Uma breve definição do projeto.</small></h3>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                            <div style="width: 100%;">
                                <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;">Com o intuíto de melhorar a qualidade de vida de toda a população ...</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320">
                        <div class="x_title">
                            <h2>Como carregar arquivo de dados?</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-square bg-white "></i></a>
                                </li>
                                <li>
                                    <a class="collapse-link"><i class="fa fa-square bg-white "></i></a>
                                </li>
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p>
                                Para cadastrar o arquivo extraído do dispositivo do ônibus basta entrar no menu "Upload de Registros"
                                (ou clicar neste <a href="~/Registros/Upload"><strong><u>Link</u></strong></a>) e seguir os passos listados abaixo:<br />
                            </p>
                            <ul>
                                <li>Clique no botão <strong>Escolher Arquivo</strong></li>
                                <li>Selecione o arquivo desejado e clique em <strong>Abrir</strong></li>
                                <li>Clique em Upload para passar os dados do arquivo para o sistema</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h2>Como consultar os relatórios?</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-square bg-white "></i></a>
                                </li>
                                <li>
                                    <a class="collapse-link"><i class="fa fa-square bg-white "></i></a>
                                </li>
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p>
                                Os relatórios estão disponíveis no menu <strong>Relatórios</strong>. 3 modelos de relatórios estão disponíveis para consulta:
                            </p>
                            <ul>
                                <li><a href="~/Relatorios/Geral"><strong><u>Geral</u></strong></a></li>
                                <li><a href="~/Relatorios/Pontos"><strong><u>Pontos</u></strong></a></li>
                                <li><a href="~/Relatorios/Total"><strong><u>Total de Passageiros</u></strong></a></li>
                            </ul>
                            <p>
                                Para buscar as informações nos relatórios informe o período da busca, o número do ônibus e clique em <strong>Buscar</strong>.<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                        <div class="x_title">
                            <h2>Como cadastrar novos usuários?</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-square bg-white "></i></a>
                                </li>
                                <li>
                                    <a class="collapse-link"><i class="fa fa-square bg-white "></i></a>
                                </li>
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p>
                                Para cadastrar um novo usuário entre no menu <strong>Configurações de Conta</strong>
                                e escolha o submenu <strong>Cadastrar Novo Usuário</strong>
                                (ou clique neste <a href="~/Conta/Registrar"><strong><u>Link</u></strong></a>).
                            </p>

                            <ul>
                                <li>Insira as informações do usuário</li>
                                <li>clique no botão <strong>Cadastrar</strong></li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
